@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');


.testClass{
    color:red;
}

.accordionGeneral{
    border-style: solid;
    border-width: 5px;
}

.accordionDetails{
    flex-direction: column !important;
}

.accordionSummary:hover{
    color:white;
    text-decoration: underline;
    background-color: rgb(110, 94, 254);
}

.modelNameHeader{
    font-weight: bold;
}


.priceTag{
    font-family: 'Graduate', cursive !important;
    font-weight: bold !important;
}

.priceTagCompact{
    font-family: 'Graduate', cursive !important;
    font-weight: bold !important;
    font-size: 35px;
    margin-left: 5px;
    margin-top: 10px;
}

.ratingStars{
    margin-bottom: 0px !important;
}

.buyButton{
    margin: 20px;
    background-color: rgba(73,63,252,100%) !important;
    border-radius: 15px;
    color: white !important;
    border-radius: 15px;
    width: 160px !important;
    height: 50px !important;
    font-size: medium !important;
}

.buyButtonCard{
    margin: 4px;
    color: white !important;
    background-color: rgba(73,63,252,100%) !important;
    border-radius: 15px;
    font-size: x-small !important;
}

.commentButtonCard{
    margin: 4px;
    color: white !important;
    background-color: rgba(73,63,252,100%) !important;
    border-radius: 15px;
    width: 120px !important;
   
    font-size: x-small !important;
}

.phoneImage{
    height: 350px;
    width: 350px;
    margin: 25px;
}

.titleCompactCard{
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

.descriptionCompactCard{
    margin-left: 5px;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.bothButtons{
    margin-top: 20px !important;
}

.cardComponent{

    width: 600px;
    height: 200px;
    margin: 20px;
    box-shadow: 0px 4px 2px 2px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)!important;
}

.margin-adjust{
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 15px;
    margin-left: 15px;
}

.result-header{
    margin-top: 50px;
    margin-bottom: 100px;
}